<footer class="footer mt-5">
    <div class="contenedor-footer">
      <div class="columna">
        <h4>NOMADA</h4>
        <div class="iconos">
          <a href="https://facebook.com" class="facebook" target="_blank">
            <img src="/img/facebook.png" alt="Facebook">
          </a>
          <a href="https://instagram.com" class="instagram" target="_blank">
            <img src="/img/instagram.png" alt="Instagram">
          </a>
          <a href="https://wa.me/5491112345678" class="whatsapp" target="_blank">
            <img src="/img/whatsapp.png" alt="Whatsapp">
          </a>
        </div>
      </div>
      <div class="columna">
        <h3>Contacto</h3>
        <p>info@nomada.com</p>
        <p>+54 9 11 1234 5678</p>
      </div>
      <div class="columna">
        <h3>Ubicación</h3>
        <p>Av. Belgrano 4321, CABA</p>
        <p>Buenos Aires, Argentina</p>
      </div>
    </div>
    <div class="derechos">
      &copy; 2025 - E-commerce. Todos los derechos reservados.
    </div>
  </footer>
</body>
</html>